{
  "printWidth": 140,
  "singleQuote": true,
  "tabWidth":2 ,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "requirePragma": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid"
}
